@CHARSET "UTF-8";
@font-face {
	    font-family: tmon;
	    src: url(../font/TmonMonsori.ttf.ttf);
	}	
@font-face {
	    font-family: nanum;
	    src: url(../font/NanumGothicBold.ttf);
	}
*{
	font-family: nanum;
}
.services
{
width:1000px;
overflow:auto;
margin:0 auto;
}
.pricecol:hover, .pricecol1:hover
{
	opacity: 0.8;
}

.pricecol1
{
width:23%;
background:rgb(38, 48, 52);
min-height:30%;
border-radius:10px;
position:relative;
padding:30px 0px;
text-align:center;
font-family:verdana;
float:left;
margin-left:20px;
}
.pricecol
{
width:31%;
background:rgb(38, 48, 52);
min-height:30%;
border-radius:10px;
position:relative;
padding:30px 0px;
text-align:center;
font-family:verdana;
float:left;
margin-left:20px;
}
.icon
{
width:60px;
height:60px;
border-radius:100%;
background:#608bbc;
color:#fff;
text-align:center;
position:relative;
margin:0 auto;

}
.icon i
{
font-size:30px;
position:relative;
top:15px;
}
h3
{
text-align:center;
background:rgb(34, 43, 47);
text-align:center;
border-top:1px solid rgb(25, 31, 34);
border-bottom:1px solid rgb(51, 60, 64);
color:#fff;
}
h3 span
{
border-top:1px solid rgb(51, 60, 64);
border-bottom:1px solid  rgb(25, 31, 34);
display:block;
padding: 10px 0px;
font-family:verdana;
font-size:20px;
}
.button
{
	z-index: 99;
	border-radius:34px;
	border:5px solid rgba(255, 255, 255, 0.07);
	color:#ffffff ;
	font-size:16px;
	margin-top:15px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
	cursor:pointer;
	display:inline-block;
}
.button span
{
display:inline-block;
padding:10px 15px;
background: none repeat scroll 0% 0% #608bbc;
border-radius:20px;
box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 2px 0px rgba(255, 255, 255, 

0.1) inset;
}
ul
{
list-style-type:none;
padding:0px;
color:#fff;
font-family:verdana;
font-size:14px;
margin:0 auto;
text-align:center;
width:70%;
color:rgb(165, 174, 178);
border-bottom:1px solid rgb(51, 60, 64);
border-top:1px solid rgb(25, 31, 34);
}
li
{
padding:10px 0px;
border-top:1px solid rgb(51, 60, 64);
border-bottom:1px solid rgb(25, 31, 34);
}