<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="global.sesoc.bigstar.vo.Amember" alias="Amember" />
		<typeAlias type="global.sesoc.bigstar.vo.Aquestion" alias="Aquestion" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/AmemberMapper.xml"/>
		<mapper resource="mapper/AquestionMapper.xml"/>
	</mappers>
</configuration>
