<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.bigstar.dao.AnoticeMapper">
	<select id="selectanotice" resultType="Anotice">
		select * from ANOTICETABLE where noticecode =#{noticecode}

	</select>
	
	<select id="selectAllanotice" resultType="Anotice">
		select * from ANOTICETABLE order by noticecode desc

	</select>
	
	<insert id="writeAnotice" parameterType="Anotice">
		insert into
			ANOTICETABLE
		(
			noticecode
			,ntitle
			,ncontent
		)values(
			Anotice_seq.nextval
			,#{ntitle}
			,#{ncontent}
		)
		
	</insert>
	
</mapper>