<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.bigstar.dao.AquestionMapper">
	<select id="selectaquestion" resultType="Aquestion">
		select * 
		from AQUESTIONTABLE 
		where qtablecode =#{qtablecode}

	</select>

	<insert id="insertAQuestion" parameterType="Aquestion">
	
	insert into AQUESTIONTABLE 
	(qtablecode, qcontent, qtitle, qvisible, qpushdate, membercode)
	values
	(Aquestion_seq.NEXTVAL, #{qcontent}, #{qtitle}, #{qvisible}, sysdate, #{membercode})
	
	</insert>

	<select id="selectAllQuestion" resultType="Aquestion">
	
	select * 
	from AQUESTIONTABLE
	
	</select>

</mapper>