<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.bigstar.dao.AtemplateMapper">
	<select id="selectatemplate" resultType="Atemplate">
		select * from atemplatetable where TEMPLATECODE =#{templatecode}

	</select>

	<insert id="savepage" parameterType="Atemplate">
		insert into atemplatetable(templatecode
								 <if test="body0 != null">
								 , body0
								 <if test="body1 != null">
								 , body1
								 <if test="body2 != null">
								 , body2
								 <if test="body3 != null">
								 , body3
								 <if test="body4 != null">
								 , body4
								 <if test="body5 != null">
								 , body5
								 <if test="body6 != null">
								 , body6
								 <if test="body7 != null">
								 , body7
								 <if test="body8 != null">
								 , body8
								 <if test="body9 != null">
								 , body9
								 </if></if></if></if></if></if></if></if></if></if>
								 )
						  values(#{templatecode}
						   		 <if test="body0 != null">
						   		 ,#{body0}
						   		 <if test="body1 != null">
						  		 ,#{body1}
						  	     <if test="body2 != null">
						 		 ,#{body2}
						   	     <if test="body3 != null">
						  		 ,#{body3}
						   		 <if test="body4 != null">
						 		 ,#{body4}
						   		 <if test="body5 != null">
						 		 ,#{body5}
						   		 <if test="body6 != null">
						 		 ,#{body6}
						   		 <if test="body7 != null">
						 		 ,#{body7}
						   		 <if test="body8 != null">
						 		 ,#{body8}
						   		 <if test="body9 != null">
								 ,#{body9}
								 </if></if></if></if></if></if></if></if></if></if>
								 )
							
		
	</insert>
	
	<select id="loadpage" resultType="Atemplate">
		select * from atemplatetable
		where templatecode = #{string}
	</select>
	
	<delete id="deleteShop" parameterType="String">
		delete from atemplatetable
		where templatecode like #{membercode} || '%'
	</delete>
	
	<select id="getPage" parameterType="String" resultType="Atemplate">
		select * from atemplatetable where templatecode=#{link}
	</select>

</mapper>