<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.bigstar.dao.BcustomerMapper">
	<select id="selectbcustomer" resultType="Bcustomer">
		select * from Bcustomer where customercode =#{customercode}

	</select>

	<insert id="insertBcustomer" parameterType="Bcustomer">
	insert into Bcustomer
	values(Bcustomer_seq.NEXTVAL, 
			#{customerid},
			#{customerpw},
		
				#{customeraddress},
				#{customerhp},
				#{customername},
			
			#{membercode}
			)
	
	</insert>


</mapper>