<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.bigstar.dao.BproducttableMapper">

	<select id="selectbproducttable" resultType="Bproducttable">
		select * from
		Bproducttable where productcode =#{productcode}

	</select>

	<!-- 장바구니 -->
	<select id="getCart" resultType="Bproducttable">
		select p.productname,
		p.productprice, p.productquantity, p.productimage, p.productcolor,
		p.productsize
		from Bproducttable p, Bcustomer c
		where p.productcode =
		#{productcode} AND c.customercode = #{customercode}
	</select>

	<select id="selectallbproducttable" resultType="Bproducttable">
		select * from
		Bproducttable
	</select>

	<select id="getProductdetailListByName" resultType="Bproducttable">
		select * from
		Bproducttable where productname =#{productname}
	</select>

	<insert id="insertbproducttable" parameterType="Bproducttable">

			insert into
			BPRODUCTTABLE(productcode,productname,productprice,productquantity,productsize,productcolor,productspec,productimage,productimage1,productimage2,productimage3,productimage4,productimage5,productpushdate,productdisplay,productkind,membercode)
			VALUES(BPRODUCTTABLE_seq.NEXTVAL,#{productname},#{productprice},#{productquantity},#{productsize},#{productcolor},#{productspec},#{productimage},#{productimage1},#{productimage2},#{productimage3},#{productimage4},#{productimage5},sysdate,1,#{productkind},#{membercode})

	</insert>

	<select id="selectkind" resultType="Bproducttable">
		select distinct productkind
		from
		Bproducttable
	</select>

	<select id="selectkindproduct" resultType="Bproducttable">
		select * from
		Bproducttable
		where productkind=#{productkind}
	</select>

	<delete id="delProduct" parameterType="String">
		delete from Bproducttable
		where productcode=#{pc}
	</delete>
</mapper>