<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.bigstar.dao.BreviewtableMapper">

	<select id="selectBreviewtable" resultType="Breviewtable">
	
		select * from Breviewtable where reviewcode =#{reviewcode}

	</select>

	<select id="getReviewtableByName" resultType="Breviewtable" parameterType="string">
		
		select *

		from BREVIEWTABLE
	
		where productcode in(select productcode from bPRODUCTTABLE where productname=#{0})

	</select>
	
	<insert id="insertReview" parameterType="Breviewtable">
		
		INSERT INTO Breviewtable(
		reviewcode
		, reviewtitle
		, reviewscore
		, reviewcontent
		, reviewimage
		, productcode
		, customercode
		, membercode
		)
		VALUES( 
		Breviewtable_seq.nextval
		, #{reviewtitle}
		, #{reviewscore}
		, #{reviewcontent}
		, #{reviewimage}
		, #{productcode}
		, #{customercode}
		, #{membercode}
		)
		
	</insert>


</mapper>